.page-loading {
	z-index: 1;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.loader {
		width: 100px;
		height: 100px;
		position: fixed;
		top: calc(50vh - 120px / 2);
		left: calc(50vw - 120px / 2);
		border: 10px solid rgba(243, 243, 243, 0.3);
		border-radius: 50%;
		border-top: 10px solid #529fd2bd;
		-webkit-animation: spin 0.3s linear infinite; /* Safari */
		animation: spin 0.3s linear infinite;
	}
	p {
		width: 120px;
		height: 120px;
		position: fixed;
		text-align: center;
		line-height: 120px;
		font-size: 18px;
		align-self: center;
		top: calc(50vh - 120px / 2);
		left: calc(50vw - 120px / 2);
		color: white;
	}
}
/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}