section{
	background: rgb(7, 1, 24);
	user-select: none;
}
.videoBlock {
	width: 830px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: calc(50% - 415px);

	.topBlobk, 
	.bottomBlock {
		display: none;
	}
	.flightVideo {
		width: 120%;
		position: absolute;
		top: calc(50% - 280px);
		left: calc(50% - 280px);
	}
}
.black {
	z-index: 1;
	margin-top: 40px;
	position: relative;
	overflow: hidden;

	&::before, 
	&::after {
		content: "";
		position: absolute;
		top: 2%;
		bottom: 2%;
		left: 0;
		right: 0;
	}
	&::before {
		z-index: 1;
		background-image: linear-gradient(35deg, rgba(166, 206, 232, 0.6) 0%, rgb(230, 182, 182) 50%, rgb(232, 234, 194) 100%);
		-webkit-mask-image: -webkit-linear-gradient(0deg, #000000 0%, rgba(41, 137, 216, 0) 30%, rgba(32, 123, 202, 0) 70%, #000000 100%);
	}
	&::after {
		background: url(/public/is.jpg) center/cover no-repeat;
		-webkit-filter: blur(3px) saturate(0);
		filter: blur(3px) saturate(0);
		-webkit-mask-image: -webkit-linear-gradient(0deg, #000000 0%, rgba(41, 137, 216, 0) 25%, rgba(32, 123, 202, 0) 75%, #000000 100%);
	}
	.head {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2vw;
		width: 100%;
		height: 80vh;
		background: black;
		mix-blend-mode: hard-light;

		.wind1, .wind2 {
			display: none;
		}
		.wind3 {
			width: 330px;
			height: 500px;
			background: rgba(255, 254, 254, 0.55);
			border-radius: 200px;
			margin-top: 0px;
			box-shadow: inset 10px -10px 30px black;
		}
		h1,
		h2 {
			color: aliceblue;
			position: absolute;
		}
		h2 {
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 50px;
			bottom: 78%;
			left: calc(45% - 239px);
			text-shadow: 0 0 15px rgb(0, 0, 0), 0 0 25px azure;
			animation: shine1 4s ease-in-out infinite;
		}
		h1 {
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 60px;
			bottom: 17%;
			right: calc(45% - 272.5px);
			text-shadow: 0 0 5px black, 0 0 10px azure;
			animation: shine2 4s ease-in-out infinite;
		}
	}
}

.textPage {
  	overflow: hidden;
  	width: 100%;
  	height: 100vh;
  	position: relative;
  	color: rgb(255, 255, 255);
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-weight: bolder;
  	letter-spacing: 10px;
  	font-variant: small-caps;
  	text-shadow: 7px 5px 10px rgb(0, 0, 0), 5px 3px 15px rgb(122, 233, 255), 0px 0px 18px rgb(255, 255, 255);

  	&::before {
		content: "";
		position: absolute;
		top: 0%;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(/public/1567496.jpg) center/cover no-repeat;
		background-attachment: fixed;
		-webkit-filter: blur(9px) brightness(0.6);
		filter: blur(9px) brightness(0.6);
  	}
	h1, h2,
	h3, h4,
	h5 {
		opacity: 0;
		position: absolute;
		transition: 0.6s ease-in-out;
	}
	h1 {
		top: 5%;
		left: calc(50% - 160px);
		font-size: 100px;
	}
	h4 {
		word-wrap: break-word;
		top: 35%;
		left: calc(0% - 358px);
		font-size: 50px;
		letter-spacing: 5px;
	}
	h3 {
		top: 42%;
		left: calc(0% - 350px);
		font-size: 30px;
		letter-spacing: 5px;
	}
	h2 {
		width: 674px;
		top: 55%;
		left: calc(100% - 336.5px);
		font-size: 65px;
		letter-spacing: 5px;
	}
	h5 {
		top: 90%;
		left: calc(50% - 340px);
		font-size: 100px;
		letter-spacing: 10px;
		text-shadow: 7px 5px 10px rgb(0, 0, 0), 5px 3px 15px rgb(255, 138, 138), 0px 0px 18px rgb(255, 255, 255);
	}
}

.mainTitle {
	width: 100%;
	height: 200px;
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		opacity: 0;
		color: aliceblue;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: bolder;
		font-size: 100px;
		letter-spacing: 5px;
		font-variant: small-caps;
		text-shadow: 7px 5px 10px rgb(0, 0, 0), 5px 3px 15px rgb(189, 90, 235), 0px 0px 18px rgb(121, 232, 252);
		animation: shine3 2.5s ease-out infinite;
		transition: 0.6s ease-in;
		.bottomLine {
			width: 100%;
			height: 2px;
			background: white;
			box-shadow: 7px 5px 10px rgb(0, 0, 0), 5px 3px 15px rgb(189, 90, 235), 0px 0px 18px rgb(121, 232, 252);
			animation: shine3 2.5s ease-out infinite reverse;
		}
	}
	.textShow6 {
		opacity: 1;
	}

}

#apiTest {
  	padding-top: 80px;
  	margin: 0 auto;
  	width: 100%;
  	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  	gap: 20px;
  	background: #000;
  	position: relative;

  	&:before {
		content: "";
		position: absolute;
		top: 0%;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(/public/hd.jpg) center/cover no-repeat;
		background-attachment: fixed;
		-webkit-filter: blur(6px) brightness(0.6) grayscale(70%);
		filter: blur(6px) brightness(0.6) grayscale(70%);
  	}
}

.cards {
	z-index: 1;
	background: rgb(37, 37, 20);
	margin: 0 auto;
	width: 90%;
	border-radius: 15px;
	padding: 20px;
	transition: 0.3s ease-out;

	&:hover {
		box-shadow: 8px 8px 25px rgba(40, 40, 40, 0.85);
		transition: 0.3s ease-out;
	}
  	p {
		color: rgb(255, 255, 0);
		font-size: 15px;
  	}
	h1 {
		color: rgb(255, 255, 0);
		font-size: 24px;
	}
	.cardsTop {
		display: flex;
		justify-content: space-between;

		.cardsRight {
			background: rgb(15, 15, 15);
			border-radius: 4px;
			margin-top: 10px;
			padding: 8px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 4px;
			text-shadow: 0 0 2px rgb(255, 255, 0);
		}
		.cardsLeft {
			width: 85%;
			display: flex;
			flex-wrap: wrap;

			.airlines {
				flex-grow: 2;

				h1 {
					text-shadow: 0 0 2px rgb(255, 255, 93);

					p {
						font-size: 12px;
						line-height: 10px;
						margin-left: 0.5rem;
						margin-bottom: 0.125rem;
						color: rgb(255, 255, 255);
						text-shadow: 0 0 5px rgb(255, 255, 0);
					}
				}
			}
			.flight {
				margin-left: auto;
				flex-grow: 2;

				h1 {
					text-shadow: 0 0 2px rgb(255, 255, 93);
					p {
						text-shadow: 0 0 5px rgb(255, 255, 0);
						font-size: 12px;
						line-height: 10px;
						margin-left: 0.5rem;
						margin-bottom: 0.125rem;
						color: rgb(255, 255, 255);
					}
				}
			}
			.timeCardBox {
				margin-top: 5px;
				margin-bottom: 5px;
				margin-right: 25px;
				flex-grow: 1;
				justify-self: flex-end;

				&:hover {
					.timeCard {
						transform: rotateX(90deg);
						transition: 0.2s ease-in-out;
					}
					.etd {
						animation: shake 1s ease-in-out;
					}
				}
				.timeCard {
					height: 30px;
					transform-origin: top;
					transform: rotateY(0deg);
					transform-style: preserve-3d;
					transition: 0.2s ease-in-out;

					.etd, 
					.std {
						display: flex;
						padding: 0.315rem;
						border-radius: 5px;
						box-shadow: 3px 3px 8px rgb(11, 11, 11);
						width: 100%;
						transition: 0.5s ease-in-out;
						span {
							flex-grow: 1;
							color: rgb(255, 255, 0);
							text-shadow: 0 0 2px rgb(255, 255, 93);
							font-size: 1.5rem;
						}
						p {
							flex-grow: 1;
							font-size: 1.5rem;
						}
					}

					.std {
						background: rgb(15, 15, 15);

						p {
							color: rgb(85, 91, 0);
						}
					}
					.etd {
						background: rgb(30, 30, 17);
						transform-origin: top;
						transform: rotateX(-90deg);

						p {
							color: rgb(255, 255, 0);
							text-shadow: 0 0 3px rgb(255, 255, 0);
						}
					}
				}
			}
		}
	}

	.status{
		display: flex;
		font-size: 14px;
		line-height: 20px;
		margin-left: 0.5rem;
		text-align: center;
		color: white;
		text-shadow: 0 0 3px rgb(255, 255, 0);

		p {
			width: 80%;
			font-size: 22px;
			text-align: center;
			line-height: 20px;
			font-weight: 700;
			font-family: Arial, Helvetica, sans-serif;
		}
		.remark {
			color: rgb(85, 227, 95);
			text-shadow: 0 0 2px rgb(105, 255, 183);
		}
		.cancelStyle {
			color: rgb(249, 79, 113);
			text-shadow: 0 0 2px rgb(255, 105, 105);
		}
		.intimeStyle {
			color: rgb(84, 175, 249);
			text-shadow: 0 0 2px rgb(151, 195, 247);
		}
		.goodsAir {
			color: rgb(171, 187, 0);
			text-shadow: 0 0 2px rgb(249, 252, 182);
		}
		.changeTime {
			color: rgb(249, 183, 84);
			text-shadow: 0 0 2px rgb(247, 183, 151);
		}
	}
	.updateDT {
		display: flex;
		justify-content: flex-end;
		margin-top: 0.75rem;
		margin-bottom: -10px;
		font-size: 14px;
		color: white;
		text-shadow: 0 0 3px rgb(255, 255, 0);
	}
}





@media (min-width: 1140px) {
	section {
		.videoBlock {
			.flightVideo {
				left: calc(50% - 495px);
			}
		}
		.black {
			margin-top: 0;
			.head {
				.wind1 {
					display: unset;
					width: 250px;
					height: 390px;
					background: rgba(255, 254, 254, 0.55);
					border-radius: 200px;
					margin-top: -100px;
					box-shadow: inset 10px -10px 25px black;
				}
				.wind2 {
					display: unset;
					width: 250px;
					height: 390px;
					background: rgba(255, 255, 255, 0.55);
					border-radius: 200px;
					margin-top: -100px;
					box-shadow: inset 10px -10px 25px black;
				}
				.wind3 {
					width: 250px;
					height: 390px;
					margin-top: -100px;
					box-shadow: inset 10px -10px 25px black;
				}
				h2 {
					font-size: 70px;
					bottom: 28%;
					left: calc(40% - 335px);
				}
				h1 {
					font-size: 90px;
					right: calc(45% - 409px);
				}
			}
		}
		#apiTest {
			gap: 20px;
			margin: 0 auto;
		}
		.cards {
			margin: 0;
			width: 31%;
			.timeCard{
				margin-bottom: 1rem;
			}
		}
		.textPage {
			h1 {
				top: 5%;
				left: calc(50% - 160px);
				font-size: 120px;
			}
			h4 {
				left: calc(0% - 481px);
				font-size: 70px;
			}
			h3 {
				top: 44%;
				left: calc(10% - 400px);
			}
			h2 {
				width: 719px;
				top: 56%;
				font-size: 70px;
				left: calc(100% - 359.5px);
			}
			h5 {
				top: 90%;
				left: calc(50% - 369px);
				font-size: 110px;
			}
			.textShow1 {
				opacity: 1;
				top: 15%;
				left: calc(50% - 160px);
				transition: 0.4s ease-out;
			}
			.textShow2 {
				opacity: 1;
				left: calc(50% - 481px);
				transition: 0.4s ease-out;
			}
			.textShow3 {
				opacity: 1;
				left: calc(50% - 400px);
				transition: 0.4s ease-out;
			}
			.textShow4 {
				opacity: 1;
				left: calc(50% - 359.5px);
				transition: 0.4s ease-out;
			}
			.textShow5 {
				opacity: 1;
				top: 74%;
				transition: 0.4s ease-out;
			}
		}
	}
}
@media (max-width: 750px) {
	section {
		.black {
			&::before, &::after {
				content: none;
			}
			.videoBlock {
	
				.flightVideo {
					width: 120%;
					top: calc(50% - 280px);
					left: calc(50% - 495px);
				}
				.topBlobk {
					z-index: 1;
					width: 100%;
					height: 60px;
					background: rgb(20, 20, 20);
					box-shadow: 5px 0px 25px rgb(0, 0, 0);
					display: block;
					position: absolute;
					top: 0;
				}
				.bottomBlock {
					width: 100%;
					height: 70px;
					background: rgb(20, 20, 20);
					box-shadow: -5px 0px 25px rgb(0, 0, 0);
					display: block;
					position: absolute;
					bottom: 0;
					z-index: 1;
				}
			}
			.head {
				flex-direction: column;
				height: 470px;
				mix-blend-mode: unset;
				flex-wrap: wrap;
				text-align: center;
	
				.wind3 {
					display: none;
				}
				h2, h1 {
					z-index: 1;
					position: unset;
				}
			}
		}
		.textPage {

			h1 {
				font-size: 60px;
			}
			h4 {
				font-size: 30px;
				letter-spacing: 4px;
			}
			h3 {
				font-size: 15px;
				letter-spacing: 4px;
			}
			h2 {
				font-size: 30px;
				letter-spacing: 4px;
				width: 350px;
			}
			h5 {
				font-size: 60px;
			}
			.textShow1 {
				opacity: 1;
				top: 15%;
				left: calc(50% - 111px);
				transition: 0.4s ease-out;
			}
			.textShow2 {
				opacity: 1;
				left: calc(50% - 225px);
				transition: 0.4s ease-out;
			}
			.textShow3 {
				opacity: 1;
				left: calc(50% - 217px);
				transition: 0.4s ease-out;
			}
			.textShow4 {
				opacity: 1;
				left: calc(50% - 175px);
				transition: 0.4s ease-out;
			}
			.textShow5 {
				opacity: 1;
				left: calc(50% - 225px);
				top: 74%;
				transition: 0.4s ease-out;
			}
		}
	}
}
.textPage {

	.textShow1, .textShow2, 
	.textShow3, .textShow4, 
	.textShow5 {
	  opacity: 1;
	  transition: 0.4s ease-out;
	}

	.textShow1 {
	  top: 15%;
	}
	.textShow2 {
	  left: calc(50% - 358px);
	}
	.textShow3 {
	  left: calc(50% - 350px);
	}
	.textShow4 {
	  left: calc(50% - 336.5px);
	}
	.textShow5 {
	  top: 75%;
	}

} 
@media (max-width: 500px) {
	section {
		.black{
			height: 85vh;
			.videoBlock {
				.flightVideo {
					width: 120%;
					top: calc(50% - 280px);
					left: calc(50% - 350px);
				}
				.topBlobk,
				.bottomBlock {
					display: none;
				}
			}
			.head {
				h2, h1 {
					z-index: 1;
					position: absolute;
					font-size: 2.5rem;
				}
				h2{
					top: 43%;
					left: 0%;
				}
				h1{
					bottom: 43%;
					right: 0%;
				}
			}
		}
		.textPage{
			h4 {
				font-size: 24px;
				letter-spacing: 4px;
			}
			h5 {
				font-size: 50px;
			}
			.textShow2 {
				opacity: 1;
				left: calc(50% - 190px);
				transition: 0.4s ease-out;
			}
			.textShow3 {
				opacity: 1;
				left: calc(50% - 190px);
				transition: 0.4s ease-out;
			}
			.textShow5 {
				opacity: 1;
				left: calc(50% - 190px);
				top: 74%;
				transition: 0.4s ease-out;
			}
		}
		.mainTitle{
			h1{
				font-size: 3rem;
			}
		}
	}
}

@keyframes shake {
	0% {
	  -webkit-transform: rotateX(-90deg);
			  transform: rotateX(-90deg);
	}
	20% {
	  -webkit-transform: rotateX(-120deg);
			  transform: rotateX(-120deg);
	}
	40% {
	  -webkit-transform: rotateX(-60deg);
			  transform: rotateX(-60deg);
	}
	65% {
	  -webkit-transform: rotateX(-100deg);
			  transform: rotateX(-100deg);
	}
	85% {
	  -webkit-transform: rotateX(-85deg);
			  transform: rotateX(-85deg);
	}
	100% {
	  -webkit-transform: rotateX(-90deg);
			  transform: rotateX(-90deg);
	}
  }
  @keyframes shine1 {
	0% {
	  text-shadow: 0 0 5px black, 0 0 10px azure;
	}
	40% {
	  text-shadow: 0 0 5px black, 0 0 30px azure;
	}
	65% {
	  text-shadow: 0 0 5px black, 0 0 0px azure;
	}
	100% {
	  text-shadow: 0 0 5px black, 0 0 10px azure;
	}
  }
  @keyframes shine2 {
	0% {
	  text-shadow: 0 0 5px black, 0 0 5px azure;
	}
	40% {
	  text-shadow: 0 0 5px black, 0 0 0px azure;
	}
	65% {
	  text-shadow: 0 0 5px black, 0 0 10px azure;
	}
	100% {
	  text-shadow: 0 0 5px black, 0 0 5px azure;
	}
  }
  @keyframes shine3 {
	0% {
	  text-shadow: 5px 5px 8px black, 2px 2px 14px rgb(237, 190, 190), 3px 3px 18px rgb(164, 236, 250), 0px 0px 10px rgb(236, 227, 153);
	}
	25% {
	  text-shadow: 5px 5px 8px black, -2px 2px 14px rgb(237, 190, 190), 3px -3px 18px rgb(164, 236, 250), 0px 0px 10px rgb(236, 227, 153);
	}
	50% {
	  text-shadow: 5px 5px 8px black, -2px -2px 14px rgb(237, 190, 190), -3px -3px 18px rgb(164, 236, 250), 0px 0px 10px rgb(236, 227, 153);
	}
	75% {
	  text-shadow: 5px 5px 8px black, 2px -2px 14px rgb(237, 190, 190), -3px 3px 18px rgb(164, 236, 250), 0px 0px 10px rgb(236, 227, 153);
	}
	100% {
	  text-shadow: 5px 5px 8px black, 2px 2px 14px rgb(237, 190, 190), 3px 3px 18px rgb(164, 236, 250), 0px 0px 10px rgb(236, 227, 153);
	}
  }
  